.select-box{
    display: block;
    height: 55px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    cursor: pointer;
}


.select-box__selected-value{
    position: relative;
    background: white;
    color: #000;
}

.select-box__selected-value:hover{
    border: 1px solid #000 ;
}
.select-box__options{
    position: relative;
    padding: 0 0.5em;
    left: 0;
    max-height: 200px;
    border-top: 1px solid #0000001a;
    background: #fff;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow-y: auto;
    z-index: 1;
}

.select-box__search{
    position: relative;
    display: block;
    height: 55px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #000;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.select-box__option{
    position: relative;
    display: block;
    width: 100%;
    height: 2.5em;
    margin: 0;
    align-items: center;
    border: 0;
    background: #fff;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    z-index: 1;
}
.select-box__option:hover{
    background: #0000001a;
    
}
